<!DOCTYPE html>
<html>
<head>
    <title>Orders</title>
</head>
<body>

<h2>Order History</h2>

{% if orders %}

  {% for order in orders %}
    <div style="border:1px solid black; padding:10px; margin:10px;">

      <p><strong>Order ID:</strong> {{ order.id }}</p>
      <p><strong>Total:</strong> Rs. {{ order.total_price }}</p>
      <p><strong>Date:</strong> {{ order.created_at }}</p>

      <h4>Items:</h4>

      {% for item in order.orderitem_set.all %}
        <p>
          {{ item.product.name }} |
          Quantity: {{ item.quantity }} |
          Price: Rs. {{ item.product.price }} |
          Total: Rs. {{ item.get_total }}
        </p>
      {% endfor %}

    </div>
  {% endfor %}

{% else %}

  <p>No orders yet 😢</p>

{% endif %}

<br>
<a href="/">Back to Products</a>

</body>
</html>